@page "/contact"

<section id="contact-form" class="position-relative overflow-hidden pt-0 pt-md-5">


	<div class="container">
		<div class="row g-4 g-sm-5 align-items-center">
            
			<div class="col-lg-6">
                
				<h2>Biz bilan hamkorlikni yo'lga qo'ying</h2>

				<div class="row mt-5">
					<!-- Email box -->
					<div class="col-sm-6 col-lg-12 col-xl-6 mb-5">
						<div class="card card-body shadow">
							<div class="icon-lg bg-warning text-white rounded-circle position-absolute top-0 start-100 translate-middle ms-n6">
								<i class="fas fa-envelope"></i>
							</div>
							<h6>Email</h6>
							<p class="mb-0"><a href="#" class="h6 mb-0 fw-light stretched-link">example@gmail.com</a></p>
						</div>
					</div>

					<!-- Live support box -->
					<div class="col-sm-6 col-lg-12 col-xl-6 mb-5">
						<div class="card card-body shadow">
							<div class="icon-lg bg-primary text-white rounded-circle position-absolute top-0 start-100 translate-middle ms-n6">
								<i class="bi bi-telegram"></i>
							</div>
							<h6>Telegram username</h6>
							<p class="mb-0"><a href="#" class="h6 mb-0 fw-light stretched-link">+256 359 556</a></p>
						</div>
					</div>

					<!-- Telephone box -->
					<div class="col-sm-6 col-lg-12 col-xl-6 mb-5 mb-xl-0">
						<div class="card card-body shadow">
							<div class="icon-lg bg-purple text-white rounded-circle position-absolute top-0 start-100 translate-middle ms-n6">
								<i class="fas fa-tty"></i>
							</div>
							<h6>Telefon raqam</h6>
							<p class="mb-0"><a href="#" class="h6 mb-0 fw-light stretched-link">+123 456 789</a></p>
						</div>
					</div>

					<!-- Website box -->
					<div class="col-sm-6 col-lg-12 col-xl-6 mb-5 mb-xl-0">
						<div class="card card-body shadow">
							<div class="icon-lg bg-orange text-white rounded-circle position-absolute top-0 start-100 translate-middle ms-n6">
								<i class="fas fa-globe"></i>
							</div>
							<h6>Websayt</h6>
							<p class="mb-0"><a href="#" class="h6 mb-0 fw-light stretched-link">http://CSA.uz</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Contact form START -->
			<div class="col-lg-6">
				<div class="card card-body shadow p-4 p-sm-5 position-relative">
					

					<!-- Form START -->
					<form class="row g-3 position-relative">
						<!-- Name -->
						<div class="col-md-6 col-lg-12 col-xl-6">
							<label class="form-label">Ismingiz</label>
							<input type="text" class="form-control" aria-label="First name">
						</div>

						<!-- Last name -->
						<div class="col-md-6 col-lg-12 col-xl-6">
							<label class="form-label">Familiyangiz</label>
							<input type="text" class="form-control" aria-label="Last name">
						</div>
						<!-- Email -->
						<div class="col-md-6 col-lg-12 col-xl-6">
							<label class="form-label">Email </label>
							<input type="email" class="form-control">
						</div>
						<!-- Phone number -->
						<div class="col-md-6 col-lg-12 col-xl-6">
							<label class="form-label">Telefon raqam</label>
							<input type="text" class="form-control">
						</div>
						<!-- Comment -->
						<div class="col-12">
							<label class="form-label">Xabar *</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<!-- Button -->
						<div class="col-12">
							<button type="submit" class="btn btn-primary mb-0">Xabar jo'natish</button>
						</div>
					</form>
					<!-- Form END -->
				</div>
			</div>
			<!-- Contact form END -->
		</div>
	</div>
</section>

<section class="pt-5 pb-0 mb-4" style="background-image:url(assets/images/element/map.svg); background-position: center left; background-size: cover;">
	<div class="container">
		<div class="row g-4 g-md-5 mt-0 mt-lg-3">
			<div class="col-lg-5 mt-lg-0 mx-auto">
				<div class="card card-body bg-primary shadow py-5 text-center h-100">
					<h5 class="text-white mb-3">Manzil</h5>
					<ul class="list-inline mb-0">
						<li class="list-item mb-3">
							<a href="https://yandex.com/maps/-/CCU55AxJpC" class="text-white"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Toshkent</a>
						</li>
						<li class="list-item mb-3">
							<a href="tel:+998946705060" class="text-white me-3"> <i class="fas fa-fw fa-phone-alt me-2"></i>+998 94 671 50 60 </a>
							<a href="tel:+998946175060" class="text-white"><i class="fas fa-fw fa-phone-alt me-2"></i>+998 94 617 50 60 </a>
						</li>
						<li class="list-item mb-0">
							<a href="mailto: ilmhub.uz@gmail.com" class="text-white"> <i class="far fa-fw fa-envelope me-2"></i>CSA@gmail.com </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>