@page "/"
@using Entities
@inject ICategoryRepository iCategoryRepository
<section class="pb-0 pb-lg-5">
	<div class="container">
		<div class="row g-4 g-lg-5 align-items-center">
			<div class="col-lg-6 position-relative order-2">
				<!-- Image -->
                
				<img src="assets/images/element/headerimage.png" style="height: 12cm;" class="position-relative" alt="">
			</div>

			<div class="col-lg-6 position-relative order-1 order-lg-2">
				<!-- Title -->
				<h2>Biz sizga yordam beramiz</h2>
				<p class="mb-2">Biz sizga yordam beramiz!
Uyingizdan turib o'z ehtiyojlaringizni biz bilan qondiring. Professionallar tekshiruvingiz ostida mashinangizni yuvishlari, uyda ta'mirlash ishlari bajarishlari, yoki chiqindilarni olib ketishlari, shuningdek sog'lig'ingiz haqida qayg'urishadi!</p>
				<!-- Info list -->
				<ul class="list-group list-group-borderless mb-2">
					<li class="list-group-item d-flex align-items-center px-0">
						<p class="mb-0 h6 fw-light"><i class="bi bi-arrow-right text-primary me-2"></i>Servisni tanglang</p>
					</li>
					<li class="list-group-item d-flex align-items-center px-0">
						<p class="mb-0 h6 fw-light"><i class="bi bi-arrow-right text-primary me-2"></i>Ishlatish uchun oson</p>
					</li>
					<li class="list-group-item d-flex align-items-center px-0">
						<p class="mb-0 h6 fw-light"><i class="bi bi-arrow-right text-primary me-2"></i>O'zingizga qulay vaqtni tanlang</p>
					</li>
					<li class="list-group-item d-flex align-items-center px-0">
						<p class="mb-0 h6 fw-light"><i class="bi bi-arrow-right text-primary me-2"></i>Xizmatdan lazzat oling!</p>
					</li>
				</ul>
				<!-- Button -->
				<a href="#" class="btn btn-primary-soft mb-0">Biz haqimizda	</a>
			</div>
		</div>
	</div>
</section>

<section class="position-relative pb-0 pb-sm-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2>Kategoriyalar</h2>
			</div>
		</div>

		<div class="row g-4">
			<!-- Item -->
            @foreach (var category in categories)
            {
			<div class="col-sm-6 col-md-4 col-xl-3">
				<a href="/categoryItem/@category.Id">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto  mb-3">
						<img src="@category.CategoryImage" alt="category">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a type="button" class="stretched-link">@category.Name</a></h5>
					<span class="mb-0">@category.CategoryItems.Count xizmatlar</span>
				</div>
				</a>
			</div>
            }

		</div>
	</div>
</section>
@code{
    private List<Category> categories = new();
    protected override async Task OnInitializedAsync()
    {
        categories = await iCategoryRepository.GetAllAsync();
    }
}